# Dependencies
node_modules/
/npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js build output
.next/
out/

# Python virtual environment and caching
venv/
backend/venv/
__pycache__/
backend/__pycache__/
*.pyc

# Local env files
.env*.local

# Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
